nav{
    width: auto;
    
    background-color: grey;
    overflow: hidden;
}

ul li{
    list-style: none;
    float: left;  
    
}
ul li a{
    display: block;
    text-decoration: none;
    padding: 20px; 
}
ul li a:hover{
    background-color: orange;
}




